.vagrant/bundler/global.sol
.vagrant/machines/k8s-master/virtualbox/action_provision
.vagrant/machines/k8s-master/virtualbox/action_set_name
.vagrant/machines/k8s-master/virtualbox/box_meta
.vagrant/machines/k8s-master/virtualbox/creator_uid
.vagrant/machines/k8s-master/virtualbox/id
.vagrant/machines/k8s-master/virtualbox/index_uuid
.vagrant/machines/k8s-master/virtualbox/private_key
.vagrant/machines/k8s-master/virtualbox/synced_folders
.vagrant/machines/k8s-master/virtualbox/vagrant_cwd
.vagrant/machines/k8s-worker-1/virtualbox/action_provision
.vagrant/machines/k8s-worker-1/virtualbox/action_set_name
.vagrant/machines/k8s-worker-1/virtualbox/box_meta
.vagrant/machines/k8s-worker-1/virtualbox/creator_uid
.vagrant/machines/k8s-worker-1/virtualbox/id
.vagrant/machines/k8s-worker-1/virtualbox/index_uuid
.vagrant/machines/k8s-worker-1/virtualbox/private_key
.vagrant/machines/k8s-worker-1/virtualbox/synced_folders
.vagrant/machines/k8s-worker-1/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
